mixin alert(alert)
  .uk-card.uk-card-default.uk-width-3-4.uk-align-center
    .uk-card-body
      .uk-card-badge.uk-label.uk-label-danger LOW
      h3.uk-card-title= alert.title
      p= alert.content
